/* LATO REGULAR 400 , BOLD 700 , BLACK 900 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {

  /* POLICES */
    --lato : 'Lato',sans-serif;

  /* COULEURS  */

    --rouge : #FD2D01;
    --roseClair : #FFD7D7;
    --grisFoncé : #4E5166

  /* FONT WEIGHT */ 

    --400 : 400;
    --600:600;
    --700 : 700;
    --900 : 900
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: var(--lato);
  font-size: 18px;
  outline:none;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color:black;
}


a:visited{
  color:black;
}

textarea{
  resize: none;
}

header{
  margin-bottom: 3em;
}

#asterique {
  color: var(--grisFoncé);
}


.banner{
  margin-bottom: 1.5em;
}

.banner img {
  height: 600px;
}
